<a href="https://colab.research.google.com/github/hangovf/Academypublic/blob/main/databis0511.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#test

In [2]:
!pip install -q kaggle
from google.colab import files
files.upload()
#create a kaggle folder
!mkdir ~/.kaggle
# Go on kaggle > Account > Create New API token
# Save the json file in your laptop in a dedicated folder
# copy the kaggle.json to folder created
!cp kaggle.json ~/.kaggle
#permission for the json to act
!chmod 600 ~/.kaggle/kaggle.json
# Datasets available here: 
# https://www.kaggle.com/avikpaul4u/vehicle-loan-default-prediction
!kaggle datasets download -d avikpaul4u/vehicle-loan-default-prediction
!unzip vehicle-loan-default-prediction.zip
# https://www.kaggle.com/uciml/red-wine-quality-cortez-et-al-2009
!kaggle datasets download -d uciml/red-wine-quality-cortez-et-al-2009
!unzip red-wine-quality-cortez-et-al-2009.zip

Saving kaggle.json to kaggle.json
Downloading vehicle-loan-default-prediction.zip to /content
 95% 11.0M/11.6M [00:00<00:00, 110MB/s]
100% 11.6M/11.6M [00:00<00:00, 107MB/s]
Archive:  vehicle-loan-default-prediction.zip
  inflating: Data Dictionary.xlsx
  inflating: test.csv
  inflating: train.csv
Downloading red-wine-quality-cortez-et-al-2009.zip to /content
  0% 0.00/25.6k [00:00<?, ?B/s]
100% 25.6k/25.6k [00:00<00:00, 41.8MB/s]
Archive:  red-wine-quality-cortez-et-al-2009.zip
  inflating: winequality-red.csv

In [3]:
df = pd.read_csv('/content/winequality-red.csv')

NameError: ignored

In [4]:
import pandas as pd

In [6]:
import numpy as np
df = pd.read_csv('/content/winequality-red.csv')

In [7]:
import matplotlib.pyplot as plt
from matplotlib.patches import Patch
from matplotlib.lines import Line2D
import matplotlib.dates as mdates
import seaborn as sns

In [8]:
df_barplot = pd.DataFrame(df.groupby('citric_cat')['quality'].median()).reset_index()

KeyError: ignored

In [9]:
df.head()

   fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0            7.4              0.70         0.00  ...       0.56      9.4        5
1            7.8              0.88         0.00  ...       0.68      9.8        5
2            7.8              0.76         0.04  ...       0.65      9.8        5
3           11.2              0.28         0.56  ...       0.58      9.8        6
4            7.4              0.70         0.00  ...       0.56      9.4        5

[5 rows x 12 columns]

In [ ]:
7/3

2**2 #comment exponnetial 
21//2 # floor division = 10  
...
my cat name 
...

21%2 #modulo remainder =1

8/2

SyntaxError: ignored

In [ ]:
8/2

4.0

In [ ]:
...
test

NameError: ignored

In [ ]:
'''
te
...
1+1

NameError: ignored

In [ ]:
''' 
test
'''
1+1
a=2
a
a==2
type(a)
a=0.5
type(a)
a=0.5
type(a)
a= 'test'
type(a)
cities = [3,3,92,3,4,4]
cities
mylist =[3,2,6]
mylist
cities =['a','b']
cities

['a', 'b']

In [ ]:
print(cities[0]) # list are 0 based in term of index
print(cities[-1])
cities[1] = cities[-1]

a
b

In [ ]:
cities[-1]
cities
print(cities)
print(cities[0])
cities[0]
cities[1] = 'c'

['a', 'b']
a

In [ ]:
cities[]

SyntaxError: ignored

In [ ]:
print(cities)

['a', 'c']

In [ ]:
#insert element in the list 
cities.insert(1, 'd')

In [ ]:
print(cities)
cities.append('e')
print (cities)
cities.remove('a')
print(cities)

['d', 'c', 'e', 'e', 'e']
['d', 'c', 'e', 'e', 'e', 'e']

ValueError: ignored

In [ ]:
len(cities)
cities.insert(2,2)
print(cities)
cities.append(2)
print(cities)
cities.remove(2)  ##only remove the first element
print(cities)

['d', 'c', 2, 2, 2, 2, 'e', 'e', 'e', 'e', 2, 2, 2, 2]
['d', 'c', 2, 2, 2, 2, 'e', 'e', 'e', 'e', 2, 2, 2, 2, 2]
['d', 'c', 2, 2, 2, 'e', 'e', 'e', 'e', 2, 2, 2, 2, 2]

In [ ]:
cities.remove(2)
print(cities)

['d', 'c', 2, 'e', 'e', 'e', 'e', 2, 2, 2, 2, 2]

In [ ]:
cities.remove(2)
print(cities)

['d', 'c', 'e', 'e', 'e', 'e', 2, 2, 2, 2, 2]

In [ ]:
newlist = [1,3,4,5]
cities = cities+newlist
print(cities)
valuerem= 2 
cities = [value for value in cities if value  != valuerem]
print(cities)

['d', 'c', 'e', 'e', 'e', 'e', 2, 2, 2, 2, 2, 1, 3, 4, 5, 1, 3, 4, 5, 1, 3, 4, 5]
['d', 'c', 'e', 'e', 'e', 'e', 1, 3, 4, 5, 1, 3, 4, 5, 1, 3, 4, 5]

In [ ]:
val = 56
if val > 0: 
  print ('positive')
elif val < 0: 
    print('negative')
else: print('0')

positive

In [ ]:
newlist = [0,1,23,3]
if 7 not in newlist: 
  print('exactly')

exactly

In [ ]:
frutis =['a']
for element in frutis:
  print (element + 'yum')

ayum

In [ ]:
#define function
def area (length, width)
my_area=length*width 
return my_area
area(7,8)

SyntaxError: ignored

In [ ]:
import pandas as pd
import numpy as np
df= pd.read_csv('/content/winequality-red.csv')
df.describe()
df.dtypes
df.info()
df.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

(1599, 12)

In [ ]:
len(df)

1599

In [ ]:
df['fixed acidity'].head(2)

0    7.4
1    7.8
Name: fixed acidity, dtype: float64

In [ ]:
df[['fixed acidity','quality']].head(2)

   fixed acidity  quality
0            7.4        5
1            7.8        5

In [ ]:
test = ['fixed acidity', 'quality']
df[test].head(2)

   fixed acidity  quality
0            7.4        5
1            7.8        5

In [ ]:
# filter by row 
df['fixed acidity'] >7  # show boolean list true or false 
#assing variable 
mask = df['fixed acidity'] >7
df2 = df[mask] # df now saved in python memory

In [ ]:
df2

      fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0               7.4              0.70         0.00  ...       0.56      9.4        5
1               7.8              0.88         0.00  ...       0.68      9.8        5
2               7.8              0.76         0.04  ...       0.65      9.8        5
3              11.2              0.28         0.56  ...       0.58      9.8        6
4               7.4              0.70         0.00  ...       0.56      9.4        5
...             ...               ...          ...  ...        ...      ...      ...
1576            8.0              0.30         0.63  ...       0.78     10.8        6
1580            7.4              0.35         0.33  ...       0.60     11.9        6
1585            7.2              0.39         0.44  ...       0.84     11.5        6
1586            7.5              0.31         0.41  ...       0.85     11.4        6
1588            7.2              0.66         0.33  ...       0.78     12.8        6

[1237 rows x 12 columns]

In [ ]:
mask2 = df['fixed acidity'].between(7,8, "both") # include both, "left include only 7, right include only 8, neither"
df[mask2]
df3 = df[mask2]

      fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0               7.4              0.70         0.00  ...       0.56      9.4        5
1               7.8              0.88         0.00  ...       0.68      9.8        5
2               7.8              0.76         0.04  ...       0.65      9.8        5
4               7.4              0.70         0.00  ...       0.56      9.4        5
5               7.4              0.66         0.00  ...       0.56      9.4        5
...             ...               ...          ...  ...        ...      ...      ...
1576            8.0              0.30         0.63  ...       0.78     10.8        6
1580            7.4              0.35         0.33  ...       0.60     11.9        6
1585            7.2              0.39         0.44  ...       0.84     11.5        6
1586            7.5              0.31         0.41  ...       0.85     11.4        6
1588            7.2              0.66         0.33  ...       0.78     12.8        6

[546 rows x 12 columns]

In [ ]:
df[mask2][['fixed acidity','density']].min()  #min value of fixed acidity & density

fixed acidity    7.00000
density          0.99007
dtype: float64

In [ ]:
mske = (((df['residual sugar'] >=2.3 | (df['residual sugar']))))  ##| or , & and